[submodule "deps/libigl"]
	path = deps/libigl
	url = https://github.com/libigl/libigl.git
[submodule "deps/spectra"]
	path = deps/spectra
	url = https://github.com/yixuan/spectra.git
[submodule "SuiteSparse"]
	path = SuiteSparse
	url = git@github.com:sergiud/SuiteSparse.git
