[submodule "deps/libigl"]
	path = deps/libigl
	url = https://github.com/libigl/libigl.git
[submodule "deps/spectra"]
	path = deps/spectra
	url = https://github.com/yixuan/spectra.git
[submodule "deps/SuiteSparse"]
	path = deps/SuiteSparse
	url = https://github.com/sergiud/SuiteSparse.git
[submodule "deps/OpenBLAS"]
	path = deps/OpenBLAS
	url = https://github.com/xianyi/OpenBLAS.git
